.gridCustom {
    margin: 3% !important;
}

.formLoginFieldCustom {
    width: 100%;
    padding: 0 5% 0 0;
}

.formFieldCustom {
    width: 100%;
    padding: 0px 20px 10px 20px;
}

.custom-msg {
    width: 100%;
    margin: 2% 3% !important;
}

.form-field-custom {
    display: flex;
}

.btn-custom {
    padding: 3%;
}