<h2 mat-dialog-title><b>Aviso Importante da Comissão!</b></h2>
<mat-dialog-content class="mat-typography">
<div class="content customModal">

  <p>Caro aluno,</p>
  <p>Informamos para que fique atento diariamente a lista de documentos para envio, 
    devido a quantidade elencada, poderão surgir novos documentos para serem enviados, dos quais
    você pode precisar anexar.</p>
    <p>Agradecemos a compreensão.</p>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="ui blue button" mat-dialog-close>Ok</button>
</mat-dialog-actions>
