<div class="ui container containerCustom">
  
    <div class="ui grid centered column">
      <div class="row">
        <div class="ui header">
          <h2 class="header">Validação de Documento (Frequência) 
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="eight wide column custom">
          <p>
            
            <div class="ui positive message">
                <i class="close icon"></i>
                <div class="header">
                    <h3>Documento Validado!</h3>
                </div>
                <p>Para visualizá-lo, clique em <a (click)="viewPdf()">Visualizar PDF </a></p>
              </div>
       </div>
    </div>
    <div class="row">
      <div class="eight wide column custom ">
        <p>
            
        </p>
      </div>
    </div>
    </div>
  </div>