<div class="ui container containerCustom">
  
    <div class="ui grid centered column">
      <div class="row">
        <div class="ui header">
          <h1 class="header">Sistema em Manutenção <i class="big wrench icon"></i></h1>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column custom">
          <p>
            Manutenção iniciada em: <b>{{dataHoraManutencao}}</b>
          </p>
       </div>
    </div>
    <div class="row">
      <div class="sixteen wide column custom">
        <p>
            Esse tipo de manutenção levará até 1h para ser concluída. Tente novamente após esse prazo! <a routerLink="/">Página inicial</a>. 
        </p>
      </div>
    </div>
    </div>
  </div>