.formFieldCustom {
    width: 100% !important;
}

.filter-custom {
    margin: 5% 0% 10% 5%;
}

.form-field-custom {
    display: flex;
}

.btn-custom {
    padding: 3%;
}

.page-atual {
    background-color: #c9dbda !important;
}