.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.enfatizar {
  font-weight: bold;
}

.tableCustom {
  width: 100%;
}

.mat-divider {
  display: none !important;
}

.mat-card-actions, .mat-card-content, .mat-card-subtitle {
  margin-bottom: 10px !important;
  margin-top: 20px !important;
}

.msg-custom{
  width: 100% !important;
  padding: 1em;
}