.formLoginFieldCustom {
    width: 100%;
}

.formFieldCustom {
    width: 100%;
    padding: 0px 20px 10px 20px;
}

.customButtonStep {
    width: 100%;
    padding: 20px 20px 50px 20px;
}

.customHeader {
    padding: 10px 20px 0px 20px;
}

.customTable {
    width: 100%;
}

.customHeaderTable {
    font-size: inherit;
}

label {
    cursor: pointer !important;
    width: 100% !important;
    height: 100% !important;
}

.customButtons {
    width: 40% !important;
}

.customIcons {
    color: #c16767;
}

i.green.icon.icon.icon.icon {
    color: #51bf6b;
}

.customUpload{
  width: 100%;
}

.custom-msg {
  width: 100%;
}

.custom {
    width: -webkit-fill-available;
    width: 100%;
}

.btn-custom {
    width: auto !important;
}

.custom-mat-row {
    justify-content: flex-start !important;
}