.containerCustom {
    padding-top: 25px;
}

.customItem {
    width: 100%;
}

.ui.large.menu {
    margin: 1% !important;
}

.example-card {
    max-width: 250px;
    // max-height: 200px;

  }
  
  .example-header-image {
    // background-color: ;
    background-size: cover;
  }