<div class="ui container containerCustom">

  <h1 class="ui header">
        Benefício
  </h1>
      <div class="ui divider"></div>

      <div class="ui grid">
        <div class="row">

            <div class="right floated right aligned six wide column">
              <button routerLink="add/" *ngIf="sessaoService.verificarPermissao('add_beneficio')" 
                (click)="setListTempDocumentacao()" class="ui right floated small primary labeled icon button pagination menu">
                <i class="user icon"></i> Novo 
              </button>
              <button class="ui right floated small primary labeled icon button pagination menu"
                (click)="exportDialog()">
                <i class="file icon"></i> Exportar
              </button>
            </div>

        </div>
        <div class="row">
        <div class="ui column sixtenn wide">
            <table class="ui sortable compact celled definition blue table">
                <thead class="full-width">
                  <tr>
                    <th>Permite acumulação?</th>
                    <th>Nome Benefício</th>
                    <th>Tipo</th>
                    <th>Período de renovação (mês)</th>
                    <th>Descrição</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let bens of listaBeneficios">
                    <td class="collapsing">
                      <div class="ui toggle checkbox blue" *ngIf="sessaoService.verificarPermissao('edit_beneficio')">
                        <input type="checkbox" [(ngModel)]="bens.permiteAcumulacao" name="ativo" 
                        (ngModelChange)="onStatusChange(bens)" (change)="onStatusChange(bens)"> 
                        <label></label>
                      </div>
                    </td>
                    <td>{{bens.nome}}</td>
                    <td>{{bens.tipoBeneficio}}</td>
                    <td>{{bens.renovacao}}</td>
                    <td>{{bens.descricao}}</td>
                    <td class="collapsing">
                        <div class="ui icon buttons">
                            <button routerLink="{{bens.id}}/edit" class="ui button" *ngIf="sessaoService.verificarPermissao('edit_beneficio')">
                              <i class="edit icon"></i>
                            </button>
                            <button class="ui button" routerLink="{{bens.id}}" *ngIf="sessaoService.verificarPermissao('view_beneficio')">
                              <i class="eye icon"></i>
                            </button>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        </div>
      </div>

</div>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Confirmação de Exclusão
    </div>
    <div class="content">
      <div class="description">
        Uma exclusão acidental pode ser desagradável. Por favor tome essa ação com cuidado.
      </div>
    </div>
    <div class="actions">
      <div class="ui button default">Não</div>
      <div class="ui small button red">Confirmar Exclusão</div>
    </div>
  </div>

