.custom {
    font-variant-caps: all-petite-caps !important;
}

.gridCustom {
    margin: 3% !important;
}


ul {
    list-style: none !important;
    padding-inline-start: initial !important;
 }

 .customTable {
    width: 100%;
}

.formFieldCustom {
    width: 100%;
    padding: 0px 20px 10px 20px;
}

.customArea {
    line-height: 1.5em;
}

.ui.table:first-child {
    margin-top: 3% !important;
}

.message-custom{
    margin-bottom: 1% !important;
}

.custom-margem {
    margin-top: 1% !important;
}

.custom-icon{
    color: #023e70;
}

.hide-class {
    display: none !important;
}

.formLoginFieldCustom {
    width: 100%;
}

.formFieldCustom {
    width: 100%;
    padding: 0px 20px 10px 20px;
}