.formFieldCustom {
    width: 100%;
    padding: 0px 20px 10px 20px;
}

.customButtonStep {
    width: 100%;
    padding: 20px 20px 50px 20px;
}

.customHeader {
    padding: 10px 20px 0px 20px;
}

.customFormAcad{
    padding: 0px 20px !important;
}

.custom {
    width: 100% !important;
}

.custom-icon {
    font-size: 1.5em !important;
}