<div class="ui header">
    <h1 class="header">Orientações importantes ao cadastrar sua assinatura!
        <div class="sub header">Para garantir uma boa qualidade nos documentos assinados, observe a imagem abaixo como modelo a seguir.</div>
    </h1>
</div>
<div class="ui dividing header"></div>

<div class="ui grid">
    <div class="row">
        <div class="sixteen wide column custom ">

            <div class="ui warning message">
                <div class="header">
                    <b>Atenção!</b> Você deve inserir uma imagem sem fundo!
                </div>
                Para remover o fundo da imagem gratuitamente, 
                você pode utilizar o site <b><a href="https://www.remove.bg/pt-br" target="_blank">RemoveBG</a></b>. Em seguida, insira a imagem no 
                sistema e faça o ajuste do tamanho, deixando visível somente a assinatura, sem áreas em branco (veja 
                o exemplo abaixo).
            </div>
        </div>
    </div>
    <div class="row">
      <div class="sixteen wide column custom ">
        <p>
            <img src="assets/info-rubrica.jpg">
        </p>
      </div>
    </div>
</div>

<mat-dialog-actions>
    <button class="ui button" mat-dialog-close>Compreendi que a imagem da assinatura deve ficar melhor enquadrada, conforme a imagem acima.</button>
</mat-dialog-actions>