.formLoginFieldCustom {
    width: 100%;
}

.formFieldCustom {
    width: 100%;
    padding: 0px 20px 10px 20px;
}

.horario-custom {
    font-size: x-large;
    font-weight: 500;
}

.horario {
    width: 100%;
    padding: 3% 0%;
}

.assinatura {
    padding: 3%;
}

.info {
    font-size: medium;  
}


.icon-check {
   font-size: x-large;
   color: #459425;
}

.customDatePicker {
    font-size: smaller;
    width: 37%;
}

.horaInput {
    width: 45%;
    display: block;
    float: left;
    margin: 1%;
}

ul {
    list-style: none !important;
    padding-inline-start: initial !important;
 }

 .page-atual {
    background-color: #c9dbda !important;
}