<div class="ui piled segments">  
    <div class="ui segment">
  
  
  <form name="formInscricaoDocumentacao">
  <div class="ui grid">
  <div class="row">
    <div class="sixteen wide column customHeader">
      <div class="ui header">Análise da Comissão</div>
      <div class="ui divider"></div>
    </div>

    <div class="sixteen wide column">
      <h4 class="ui header">
        Inscrição nº #####
      </h4>
    </div>


    <div class="sixteen wide column">
        <p>Esta é a análise da comissão!</p>
    </div>
  </div>
  </div>
  </form>
  </div>
  
  <div class="ui segment">
    <div class="row">
        <div class="customButtonStep">
          <button class="ui button" type="button" routerLink="../upload-docs">Anterior</button>  
          <button class="ui button customButton" type="button" routerLink="../10/recursos">
            Recursos</button>  
        </div>
        <i class="attention icon"></i>
      </div>
  </div>
  </div>