<h3 class="ui header">
    Alunos Vinculados ao Projeto
    <div class="sub header">Lista de Alunos.</div>
</h3>

      <div class="ui grid">
        <div class="row">
        <div class="ui column sixtenn wide">
            <table class="ui sortable compact celled definition blue table">
                <thead class="full-width">
                  <tr>
                    <th></th>
                    <th>Nome Completo</th>
                    <th>Curso</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let alu of alunos">
                    <td class="collapsing">
                    </td>
                    <td>
                      {{alu.nomeCompleto}}
                    </td>
                    <td>
                      {{alu.cursoAtual}}
                    </td>
                    <td class="collapsing">
                        <div class="ui icon buttons">
                            <button class="ui red button"
                              title="Desvincular Aluno do Projeto"
                              *ngIf="sessaoService.verificarPermissao('delete_frequencia')"
                              (click)="desvincularAluno(alu)">
                              <i class="trash icon"></i>
                            </button>
                            <button class="ui button"
                              title="Visualizar Aluno"
                              *ngIf="sessaoService.verificarPermissao('delete_frequencia')"
                              (click)="viewAluno(alu)">
                              <i class="id card icon"></i>
                            </button>
                        </div>
                    </td>
                  </tr>
                  
                </tbody>
                <tfoot class="full-width">
                  <tr>
                    <th></th>
                    <th colspan="5">
                    </th>
                  </tr>
                </tfoot>
              </table>
        </div>
        </div>
      </div>


<mat-dialog-actions align="begin">
  <button class="ui button" mat-dialog-close>Ok</button>
</mat-dialog-actions>