<div class="ui container containerCustom">
  
    <div class="ui grid centered column">
      <div class="row">
        <div class="ui header">
          <h1 class="header">Cadastro de Rúbrica 
              <!-- <i class="big wrench icon"></i> -->
            </h1>
        </div>
      </div>
      <div class="row">
        <div class="eight wide column custom">
          <p>
            Afim de garantir uma melhor operacionalização e conformidade, é importante que você cadastre sua Rúbrica. 
            <!-- <b>{{dataHoraManutencao}}</b> -->
            <a (click)="toPageCadRubrica()">
                <b>Cadastro de Rúbrica</b>
            </a>
          </p>
       </div>
    </div>
    <div class="row">
      <div class="eight wide column custom ">
        <p>
            <i>Cadastrar em outro momento... <a (click)="adiarCadRubrica()">Frequências</a>. </i> 
        </p>
      </div>
    </div>
    </div>
  </div>