<h2 mat-dialog-title><b>Informação Importante Sobre o Processo de Inscrição!</b></h2>
<mat-dialog-content class="mat-typography">
<div class="content customModal">

  <p>Caro aluno,</p>
  <p>Informamos, para fins de evitar problemas de <b>INDEFERIMENTOS</b> e prejudicar sua inscrição no 
    processo e que sua participação esteja devidamente formalizada, preencha todos os dados necessários 
    nos formulários de inscrição.</p> 
    <p>Confirme se seus dados estão preenchidos em todos os formulários 
    (dados pessoais, contatos e endereço, sócioeconômico e etc), bem como realize o Upload dos arquivos
    referentes à documentação que você precisa para que seja analisado junto à Comissão. </p>
    <p><b>Uma Dica Importante!</b> Comece sua checagem pelo primeiro formulário <b>(Dados Pessoais)</b>, 
      preencha algum dado se estiver incompleto ou faltando, em seguida ao final desse formulário clique no 
      botão Salvar e Continuar. Siga adiante nos demais formulários.
    </p>
    <p>Qualquer dúvida procure a Comissão responsável no Campus!</p>
    <p>Agradecemos a compreensão.</p>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="ui blue button" mat-dialog-close>Ok</button>
</mat-dialog-actions>
