<div class="ui container containerCustom">
    <h2 class="ui header">
        <div class="content">
          Acompanhamento de Processos
        </div>
      </h2>

      <div class="ui large menu">
          <a routerLinkActive="active" class="item" routerLink="/processos">
            <i class="sun outline icon"></i>
            Processos Públicos
          </a>
          <a routerLinkActive="active" class="item" routerLink="/inscricoes">
            <i class="pencil alternate icon"></i>
            Minhas Inscrições
          </a>
        </div>

    <div class="ui divider"></div>
    
    <router-outlet></router-outlet>
        
</div>