.formLoginFieldCustom{
    width: 100%;
}

.customHeader {
    padding: 10px 20px 0px 20px;
}

.ui.label, .ui.labels .label {
    font-size: inherit !important;
}

.ui.label {
    background-color: white !important;
    font-weight: normal !important;
}

i.icon, i.icons {
    color: #023e70 !important;
}

.custom-msg {
    margin: 1% 20% !important;
}